.recipe {
margin-top:10px;
margin-bottom:50px;
}

.recipe img {
width:100%;
height:740px;
margin-bottom:10px;
}

.recipe h4 {
margin-left:10px;
font-size:20px;
color:green;
}

.recipe p {
margin-left:10px;
margin-right:10px;
padding:20px;
font-size:20px;
color:chocolate;
text-align:justify;
border:2px double green;
box-shadow: 0px 8px 16px 0px gray;
}
